// login.component.scss

::ng-deep .modal {
  display: block !important; /* Ensure the modal always attempts to display */
  z-index: 1050; /* Ensure the modal is above most other content */
  opacity: 1 !important; /* Ensure the modal is not transparent */
}

::ng-deep .modal-backdrop.show {
  opacity: 0.5 !important; // Adjust as necessary
}
